# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.PAGINA_WEB.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
